
/* New notifications */
._3DltykjD._3bf6snf7._3f2NsD-H {
  background-color: #2A3D51 !important;
}

/* Unread direct messages */
.aPyKj4JW._33HzS5QJ._1bBTfW4q._3f2NsD-H {
  background-color: #2A3D51 !important;
}

/* Link card in a tweet. It must be white when card image has opacity. */
.MLZaeRvv._1Yv_hemU._3ptnWf7g {
  background-color: white !important;
}

/* Following/Followed counts */
.Fe7ul3Lt.wErp7S_5._2DggF3sL._3WJqTbOE {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* User list on creating first direct messages */
._1MWHskJm._2ZZR2W6- {
  background-color: #192633 !important;
}

/* Name of list which you're added in mention timeline */
._3KXvkjuP {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* Fix background color of tab item in header. It flashes on click in type C */
._2vY0UT8z {
  background-color: #192633 !important;
}

/* Fix form's background color */
.ktZMpANQ {
  background-color: #2A3D51 !important;
}

.tuitter-focused-item {
  background-color: #1C2F3F !important;
}
